body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.app-wrapper {
  background-color: rgb(227, 235, 250);
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "nav main-content";
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: main-content;
}

main {
  margin-right: 10px;
}
